h3 {
  padding-left: 14px; }

a {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #94a2a7;
  background: #ededed;
  border: none;
  margin-bottom: 50px;
  background: #94a2a7; }

.btn-default {
  color: #333;
  background: #ededed;
  border-color: #ccc; }

.btn:hover {
  background: #75b08a; }
